#pagrindinis {
    max-width: 400px;
    justify-self: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 100px;
    margin-top: 10%;
}

#pabaiga {
    max-width: 400px;
    justify-self: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 100px;
    margin-top: 10%;
}

body {
    background-color: #f4f4f4;
    font-family: Arial, sans-serif;
    text-align: center;
}


#klausimasSalys {
    max-width: 400px;
    justify-self: center;
    background-color: white;
    border-radius: 7px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px 100px;
    margin-top: 10%;
    border: 1px solid black;
}


#saliuskaiciuklausimas {
    border-radius: 7px;
    max-width: 400px;
    justify-self: center;
}

input, button {
    margin-top: 10px;
    padding: 8px;
    font-size: 16px;
}

input {
    border-radius: 10px;
}

button {
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
}

button:hover {
    background-color: #0056b3;
}

@media (max-width: 768px) {
    .my-div {
      width: 80%;
    }
  }